@(message: String)

@main("The Guardian Daily Email") {

    <h1>@message</h1>
    <div id="chart1"></div>
    <script type="text/javascript">
    getData();
    function getData(){
        $.get("/stats", null, function(data){makeChart(data)});
    }
    function parseDateTime(data){
        return data.map(function(item){
            return {
                "name": item.name,
                "data": item['data'].map(function(dates){
                    return [Date.parse(dates['timestamp']),dates['count']]
                })
             }
        });
    }
    function EnableFields(data){
        return data.map(function (item) {
            if( item.name == "uniqueClicks" ||
                item.name ==  "uniqueOpens" ||
                item.name ==  "numberSent" ||
                item.name ==  "unsubscribes") {
                item.visible = true;
            } else {
                item.visible = false;
            }
            return item
        });
    }
    function makeChart(data){
        $(function () {
            $('#chart1').highcharts('StockChart', {
                chart: {
                    type: 'line'
                },
                title: {
                    text: 'Daily email basic stats'
                },
                xAxis: {
                    type: 'datetime',
                    labels: {
                        enabled: true
                    }
                },
                yAxis: {
                    title: {
                        text: 'Number of Subscribers'
                    }
                },
                rangeSelector: {
                    enabled: false
                },
                scrollbar: {
                    enabled: false
                },
                navigator: {
                    enabled: false
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.y:,.0f}</b><br/>'
                },
                legend: {
                    enabled: true
                },
                plotOptions: {
                    line: {
                        marker: {
                            enabled: false,
                            symbol: 'circle',
                            radius: 2,
                            states: {
                                hover: {
                                    enabled: true
                                }
                            }
                        }
                    },
                    datetime: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: false
                    }
                },
                series: EnableFields(parseDateTime(data))
            });
        });
    }

	</script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script src="http://code.highcharts.com/stock/highstock.js"></script>

}
